{% comment %}
  Renders a set of links for paginated results. Must be used within paginate tags.

  Usage:
  {% paginate results by 2 %}
    {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
  {% endpaginate %}

  Accepts:
  - paginate: {Object}
  - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
{% endcomment %}

<link rel="stylesheet" href="{{ 'component-pagination.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-pagination.css' | asset_url | stylesheet_tag }}</noscript>

{%- if paginate.parts.size > 0 -%}
  <div class="pagination_block  {% if template == 'list-collections' %}mb-5 {% endif %}">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        {%- if paginate.previous -%}
          <li class="page-item page_prev">
            <a class="page-link" href="{{ paginate.previous.url }}{{ anchor }}">{% render 'icon-left-arrow' %}</a>
          </li>
        {%- endif -%}
  {% assign myprev = paginate.current_page | minus:1 %}
   {% assign mynext = paginate.current_page | plus:1 %}
        {%- for part in paginate.parts -%}
          <li class="page-item {% if forloop.index == mynext %}item_next{% endif %}{% if forloop.index == myprev %}item_prev{% endif %}{% if part.title == paginate.current_page %}current{% endif %}">
            <a
              class="page-link {% if part.title == paginate.current_page %}active{% endif %}"
              aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
              href="{{ part.url }}{{ anchor }}"
            >
              {{- part.title -}}
            </a>
          </li>
        {%- endfor -%}
        {%- if paginate.next -%}
          <li class="page-item page_next">
            <a class="page-link" href="{{ paginate.next.url }}{{ anchor }}">{% render 'icon-right-arrow' %}</a>
          </li>
        {%- endif -%}
      </ul>
    </nav>
  </div>
{%- endif -%}
