{% for product in collection.products %}
  {% assign id = product.id %}
{% endfor %}
<product-recommendations
  class="product-recommendations page-width section-{{ section.id }}-padding isolate"
  data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ id }}&limit={{ section.settings.product_show }}"
>
  {%- if recommendations.performed and recommendations.products_count > 0 %}
    <div class="featured_products_wrapper position-relative">
      <div class="container">
        {% render 'cb-title-option' %}
        <div class="featured_products_slider">
          <div class="swiper featured_products_swiper" data-num="{{ section.settings.columns_desktop }}">
            <div class="swiper-wrapper">
              {% for product in recommendations.products %}
                <div class="swiper-slide">
                  {%
                    render 'cb-product-card',
                    card_product: product,
                    double_image: section.settings.double_image,
                    variant: section.settings.variant_enable,
                    wishlist: section.settings.wishlist_enable,
                    discount: section.settings.discount_enable,
                    price: section.settings.price_enable,
                    addtocart: section.settings.addtocart,
                  %}
                </div>
              {% endfor %}
            </div>
            <div class="featured_swiper_control d-xl-none">
              <div class="swiper-pagination featured_products_pagination"></div>
            </div>
          </div>
          {% if section.settings.arrows == true %}
            <div class="featured_swiper_control d-none d-xl-block">
              <div class="featured_swiper_next swiper-button-next">&nbsp;</div>
              <div class="featured_swiper_prev swiper-button-prev">&nbsp;</div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</product-recommendations>
{% javascript %}
  var recent_view = setInterval(function(){
    if(jQuery('product-recommendations .featured_products_slider').length != 0){
      var swiper = new Swiper(".featured_products_swiper", {
        slidesPerView: "auto",
        spaceBetween: 20,
        pagination: {
          el: ".featured_products_pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".featured_swiper_next",
          prevEl: ".featured_swiper_prev",
        },
        breakpoints: {
          576: {
            slidesPerView: 2,
          },
          768: {
            slidesPerView: 2,
          },
          992: {
            slidesPerView: 3,
          },
          1200: {
            slidesPerView: 4,
            spaceBetween: 30,
          },
          1400: {
            slidesPerView: 4,
            spaceBetween: 32,
          },
        },
      });
      clearInterval(recent_view);
    }
  }, 1000);
{% endjavascript %}
{% schema %}
{
"name": "Products Recommendations",
"tag": "section",
"class": "cb-product-recommendations",
"settings": [
  {
    "type": "range",
    "id": "columns_desktop",
    "min": 1,
    "max": 5,
    "step": 1,
    "default": 4,
    "label":"Number of columns on desktop"
  },
  {
    "type": "range",
    "id": "product_show",
    "min": 1,
    "max": 20,
    "step": 1,
    "default": 4,
    "label":"Number of Product Show"
  },
  {
    "type":"checkbox",
    "id":"double_image",
    "label":"Show second image on hover",
    "default":true
  },
  {
    "type":"checkbox",
    "id":"variant_enable",
    "label":"Show variant",
    "default":true
  },
  {
    "type":"checkbox",
    "id":"wishlist_enable",
    "label":"Show Wishlist",
    "default":true
  },
  {
    "type":"checkbox",
    "id":"discount_enable",
    "label":"Show Discount Code",
    "default":true
  },
  {
    "type":"checkbox",
    "id":"price_enable",
    "label":"Show Price",
    "default":true
  },
  {
    "type":"checkbox",
    "id":"addtocart",
    "label":"Show Add To Cart",
    "default":false
  },
  {
    "type":"checkbox",
    "id":"arrows",
    "label":"Show Arrow",
    "default":false
  }
],
"blocks":[
  {
    "type":"title-style-1",
    "name":"Title style 1",
    "limit":1,
    "settings":[
        {
            "type":"select",
            "id":"heading-tag",
            "options":[
              {
                "label":"Paragraph",
                "value":"p"
              },
              {
                "label":"H1",
                "value":"h1"
              },
              {
                "label":"H2",
                "value":"h2"
              },
              {
                "label":"H3",
                "value":"h3"
              },
              {
                "label":"H4",
                "value":"h4"
              },
              {
                "label":"H5",
                "value":"h5"
              },
              {
                "label":"H6",
                "value":"h6"
              }      
            ],
            "label":"Heading Tag",
            "default":"h2"
          },
        {
          "type":"select",
          "options": [
                        {
                          "label": "Left",
                          "value": "left"
                        },
                        {
                          "label": "Center",
                          "value": "center"
                        }
          ],
          "id":"text-style",
          "label":"Title Align"
        },
        {
          "type":"text",
          "id":"title",
          "label":"Title"
        }
    ]
  },
  {
  "type":"title-style-2",
  "name":"Title style 2",
  "limit":1,
  "settings":[
      {
            "type":"select",
            "id":"heading-tag",
            "options":[
              {
                "label":"Paragraph",
                "value":"p"
              },
              {
                "label":"H1",
                "value":"h1"
              },
              {
                "label":"H2",
                "value":"h2"
              },
              {
                "label":"H3",
                "value":"h3"
              },
              {
                "label":"H4",
                "value":"h4"
              },
              {
                "label":"H5",
                "value":"h5"
              },
              {
                "label":"H6",
                "value":"h6"
              }      
            ],
            "label":"Heading Tag",
            "default":"h2"
          },
      {
        "type":"text",
        "id":"title",
        "label":"Title"
      },
      {
        "type":"richtext",
        "id":"content",
        "label":"Content"
      }
  ]
},
  {
  "type":"title-style-3",
  "name":"Title style 3",
  "limit":1,
  "settings":[
      {
            "type":"select",
            "id":"heading-tag",
            "options":[
              {
                "label":"Paragraph",
                "value":"p"
              },
              {
                "label":"H1",
                "value":"h1"
              },
              {
                "label":"H2",
                "value":"h2"
              },
              {
                "label":"H3",
                "value":"h3"
              },
              {
                "label":"H4",
                "value":"h4"
              },
              {
                "label":"H5",
                "value":"h5"
              },
              {
                "label":"H6",
                "value":"h6"
              }      
            ],
            "label":"Heading Tag",
            "default":"h2"
          },
      {
        "type":"text",
        "id":"title",
        "label":"Title"
      },
      {
          "type":"select",
          "id":"btn-type",
          "options": [
                        {
                          "label": "Default",
                          "value": "default"
                        },
                        {
                          "label": "Large",
                          "value": "large"
                        }
          ],
          "label":"Button Type"
      },
      {
        "type":"select",
        "id":"btn-style",
        "options": [
                      {
                        "label": "Primary",
                        "value": "btn btn-primary"
                      },
                      {
                        "label": "Outline",
                        "value": "btn btn-outline-primary"
                      },
                      {
                        "label": "Animation",
                        "value": "btn btn-outline-primary btn-animated"
                      },
                      {
                        "label": "Link",
                        "value": "btn btn-link"
                      }
        ],
        "label":"Button Style",
        "default":"btn btn-primary"
      },
      {
        "type":"text",
        "id":"btn-name",
        "label":"Button Name"
      },
      {
        "type":"url",
        "id":"btn-link",
        "label":"Button Link"
      }
  ]
},
  {
    "type": "section_margin",
    "name": "Section Margin",
    "limit": 1,
    "settings": [
          {
            "type": "header",
            "content": "Large\/Desktop Device"
          },
          {
            "type": "range",
            "id": "section_margin_top",
            "min": 0,
            "max": 150,
            "step": 5,
            "label": "Margin Top",
            "unit": "px",
            "default": 0
          },
          {
            "type": "range",
            "id": "section_margin_bottom",
            "min": 0,
            "max": 150,
            "step": 5,
            "label": "Margin Bottom",
            "unit": "px",
            "default": 0
          },
          {
            "type": "header",
            "content": "Tablet Device"
          },
          {
            "type": "range",
            "id": "section_margin_top_md",
            "min": 0,
            "max": 150,
            "step": 5,
            "label": "Margin Top",
            "unit": "px",
            "default": 0
          },
          {
            "type": "range",
            "id": "section_margin_bottom_md",
            "min": 0,
            "max": 150,
            "step": 5,
            "label": "Margin Bottom",
            "unit": "px",
            "default": 0
          },
          {
            "type": "header",
            "content": "Mobile Device"
          },
          {
            "type": "range",
            "id": "section_margin_top_xs",
            "min": 0,
            "max": 150,
            "step": 5,
            "label": "Margin Top",
            "unit": "px",
            "default": 0
          },
          {
            "type": "range",
            "id": "section_margin_bottom_xs",
            "min": 0,
            "max": 150,
            "step": 5,
            "label": "Margin Bottom",
            "unit": "px",
            "default": 0
          }
      ]
    },
  {
  "type": "section_padding",
  "name": "Section Padding",
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "Large\/Desktop Device"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "min": 0,
      "max": 500,
      "step": 5,
      "label": "Padding Top",
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "min": 0,
      "max": 500,
      "step": 5,
      "label": "Padding Bottom",
      "unit": "px",
      "default": 100
    },
    {
      "type": "header",
      "content": "Tablet Device"
    },
    {
      "type": "range",
      "id": "section_padding_top_md",
      "min": 0,
      "max": 300,
      "step": 5,
      "label": "Padding Top",
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "section_padding_bottom_md",
      "min": 0,
      "max": 300,
      "step": 5,
      "label": "Padding Bottom",
      "unit": "px",
      "default": 80
    },
    {
      "type": "header",
      "content": "Mobile Device"
    },
    {
      "type": "range",
      "id": "section_padding_top_xs",
      "min": 0,
      "max": 300,
      "step": 5,
      "label": "Padding Top",
      "unit": "px",
      "default": 50
    },
    {
      "type": "range",
      "id": "section_padding_bottom_xs",
      "min": 0,
      "max": 300,
      "step": 5,
      "label": "Padding Bottom",
      "unit": "px",
      "default": 50
    }
  ]
}
],
"presets": [
  {
    "name": "CB Products Recommendations"
  }
]
}
{% endschema %}
