{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}
<div class="main_collection_list_wrapper pb-5 py-lg-5 position-relative">
<div class="container">
  <h1 class="title title--primary">{{ section.settings.title | escape }}</h1>
  {%- liquid
    case section.settings.sort
      when 'products_high', 'products_low'
        assign collections = collections | sort: 'all_products_count'
      when 'date', 'date_reversed'
        assign collections = collections | sort: 'published_at'
    endcase

    if section.settings.sort == 'products_high' or section.settings.sort == 'date_reversed' or section.settings.sort == 'alphabetical_reversed'
      assign collections = collections | reverse
    endif

    assign moduloResult = 28 | modulo: section.settings.columns_desktop
    assign paginate_by = 30
    if moduloResult == 0
      assign paginate_by = 28
    endif
  -%}
  {%- paginate collections by paginate_by -%}
    <div class="category_slider_block px-0 collections_listing_block">
      <div class="category_swiper">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
          {%- for collection in collections -%}
            <div class="col my-2">
              <a
                href="{{ collection.url }}"
                class="category_card d-flex flex-column align-items-center justify-content-end"
              >
                <img src="{{collection.featured_image | img_url :'master' }}" alt="{{ collection.title }}">
                <p>{{ collection.title }}</p>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% comment %}
      <ul
        class="collection-list grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down"
        role="list"
      >
        {%- for collection in collections -%}
          <li class="collection-list__item grid__item">
            {% render 'card-collection',
              card_collection: collection,
              media_aspect_ratio: section.settings.image_ratio,
              columns: 3
            %}
          </li>
        {%- endfor -%}
      </ul>
    {% endcomment %}
    {%- if paginate.parts.size > 0 -%}
      <div class="pagination-wrapper d-flex align-items-center justify-content-center">
        {% render 'pagination', paginate: paginate %}
      </div>
    {%- endif -%}
  {%- endpaginate -%}
</div>
</div>
{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "class": "main-list-collections",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.main-list-collections.settings.title.label",
      "default": "Collections"
    },
    {
      "type": "select",
      "id": "sort",
      "options": [
        {
          "value": "alphabetical",
          "label": "t:sections.main-list-collections.settings.sort.options__1.label"
        },
        {
          "value": "alphabetical_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__2.label"
        },
        {
          "value": "date_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__3.label"
        },
        {
          "value": "date",
          "label": "t:sections.main-list-collections.settings.sort.options__4.label"
        },
        {
          "value": "products_high",
          "label": "t:sections.main-list-collections.settings.sort.options__5.label"
        },
        {
          "value": "products_low",
          "label": "t:sections.main-list-collections.settings.sort.options__6.label"
        }
      ],
      "default": "alphabetical",
      "label": "t:sections.main-list-collections.settings.sort.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-list-collections.settings.image_ratio.label",
      "info": "t:sections.main-list-collections.settings.image_ratio.info"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 3,
      "label": "t:sections.main-list-collections.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-list-collections.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-list-collections.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-list-collections.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "2",
      "label": "t:sections.main-list-collections.settings.columns_mobile.label"
    }
  ]
}
{% endschema %}
{% javascript %}
    var swiper = new Swiper(".category_swiper", {
    slidesPerColumn: 3,
    slidesPerGroup :3,
    spaceBetween: 30,
    loop: true,
    slidesPerView: 2,
    spaceBetween: 20,
    pagination: {
      el: ".category_swiper_pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".category_swiper_next",
      prevEl: ".category_swiper_prev",
    },
    breakpoints: {
      768: {
        slidesPerView: 3,
      },
      992: {
        slidesPerView: 4,
      },
      1200: {
        slidesPerView: 5,
        spaceBetween: 30,
      },
      1440: {
        slidesPerView: 5,
        spaceBetween: 32,
      },
    },
  });
{% endjavascript %}
